<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Get Data" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#/tab/getData">
    <ion-nav-view name="tab-getData"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Generate Route" icon-off="ion-ios-navigate" icon-on="ion-ios-navigate" href="#/tab/generateRoute">
    <ion-nav-view name="tab-generateRoute"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
